<section class="toolbox">
  <!-- ! Search Box -->

  <div class="toolbox-search">
    <i
      aria-hidden="true"
      data-icon="icon"
      class="fa fa-search"
      aria-hidden="true"
    ></i>
    <input type="search" class="toolbox-search-input" placeholder="Search" />
  </div>
  <!-- ! Notifications -->
  <i
    data-icon="icon"
    class="fa fa-bell toolbox-notifications"
    aria-hidden="true"
  >
    <span class="fa-bell-point">.</span>
  </i>

  <!-- ! Upload  -->

  <i
    data-icon="icon"
    class="fa fa-cloud-upload toolbox-upload"
    aria-hidden="true"
  ></i>
</section>
