<section class="suggestions">
  <header class="suggestions-header">
    <h5>suggestions for you</h5>
    <h5 data-link="link">see all</h5>
  </header>
  <div class="suggestions-card" *ngFor="let user of users">
    <div class="suggestions-infos">
      <img class="suggestions-pic" [src]="user.picture" [alt]="user.pseudo" />
      <div class="suggestions-details">
        <h5>
          {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
        </h5>
        <h6>{{ user.pseudo }}</h6>
      </div>
    </div>

    <button
      (click)="user.isFollowed = !user.isFollowed"
      data-follow="button"
      class="suggestions-follow"
      [ngClass]="!user.isFollowed ? 'followed' : 'notFollowed'"
    >
      {{ user.isFollowed ? "followed " : "follow" }}
    </button>
  </div>
</section>
<!--! Divider-->
<div class="divider"></div>
