.account {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f9ff63;
  margin-right: 10px;
  .account-title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    h4 {
      text-transform: capitalize;
      margin-left: 15px;
    }
    .fa {
      align-self: center;
      margin-left: 10px;
    }
  }
  .account-content {
    .account-infos {
      display: flex;

      .account-pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
      .account-details {
        align-self: start;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        margin-left: 10px;
        margin: 0;
        h5 {
          margin: 0;
        }
        h6 {
          color: grey;
          margin-top: 0;
          display: block;
        }
      }
    }
    .account-banner {
      .banner-image {
        width: 126px;
        height: 173px;
        border-radius: 20px;
        border: 3px solid #fff;
        outline: 0;
        box-shadow: -10px 12px 20px -16px;
      }
    }
  }
}
