<section class="account">
  <!-- ! title-->
  <div class="account-title">
    <h4>account</h4>
    <i (click)="toggle()" class="fa fa-chevron-down"></i>
  </div>
  <!-- ! infos-->
  <div class="account-content" *ngIf="isShown">
    <div class="account-infos">
      <img class="account-pic" [src]="user.picture" [alt]="user.pseudo" />
      <div class="account-details">
        <h5>{{ user.firstName | titlecase }}</h5>
        <h6>{{ user.pseudo }}</h6>
      </div>
    </div>
    <!-- ! banner-->
    <div class="account-banner">
      <img
        src="../../../../assets/images/account-banner.png"
        alt="cofeed-banner"
        class="banner-image"
      />
    </div>
  </div>
</section>
