<section class="account">
  <!-- ! title-->
  <div class="title">
    <h4>account</h4>
    <i class="fa fa-chevron-down"></i>
  </div>
  <!-- ! infos-->
  <div class="infos">
    <img
      class="pic"
      src="../../../../assets/images/users/user-74.jpg"
      alt="account-picture"
    />
    <div class="details">
      <h5>michael</h5>
      <h6>@michaelscofield</h6>
    </div>
  </div>
  <!-- ! banner-->
  <div class="banner">
    <img
      src="../../../../assets/images/account-banner.png"
      alt="cofeed-banner"
      class="banner-image"
    />
  </div>
</section>
