.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  .right-sidenav,
  .left-sidenav {
    height: 100vh;
  }
  .left-sidenav {
    width: 300px;
  }
  .right-sidenav {
    width: 30%;
  }
  .main {
    width: 100%;
  }
}
