<div [@fade]="isShown ? 'fadeIn' : 'fadeOut'" class="app">
  <!--* Left Sidenav ( Menu / Acount )--->

  <app-left-sidenav class="left-sidenav"></app-left-sidenav>

  <!-- ! Main Content Start--->

  <main class="main">
    <!--*  ( Following stories )--->

    <app-nav-stories></app-nav-stories>

    <!--* Main content ( Feeds .. )--->

    <router-outlet></router-outlet>
  </main>

  <!-- ! Main Content End --->

  <!--* Right Sidenav ( Search bar / latest / suggestions )--->

  <app-right-sidenav class="right-sidenav"></app-right-sidenav>
</div>
