<nav class="nav">
  <section class="menu">
    <h4 class="title">menu</h4>
    <div class="menu-item active">
      <i class="fa fa-home"></i>
      <h5 class="menu-item-name">home</h5>
    </div>
    <div class="menu-item">
      <i class="fa fa-comment"></i>

      <h5 class="menu-item-name">messages</h5>
    </div>
    <div class="menu-item">
      <i class="fa fa-user"></i>
      <h5 class="menu-item-name">profile</h5>
    </div>
    <div class="menu-item">
      <i class="fa fa-bookmark"></i>
      <h5 class="menu-item-name">saved post</h5>
    </div>
    <div class="menu-item">
      <i class="fa fa-cog"></i>
      <h5 class="menu-item-name">settings</h5>
    </div>
  </section>
</nav>
